body{
    background-color: #89CFF0;
}
.formulario{
    text-align: center;
}
h1{
    text-align: center;
    color: #4B3621;
    font-size: 50px;
    font-family: 'Orbitron', sans-serif;
}
.botao{
    background-color: #FFCBDB;
    width: 80px;
    height: 40px;
    border-radius: 10%;
    font-size: 15px;
}
